<div>
  <form #converterForm="ngForm" (ngSubmit)="convertForex()">
    <label for="fromCurrency">Source CCY:</label>
    <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency" required>
      <option *ngFor="let rate of forexRates" [value]="rate.id">{{ rate.id }}</option>
    </select>

    <label for="toCurrency">Target CCY:</label>
    <select id="toCurrency" name="toCurrency" [(ngModel)]="toCurrency" required>
      <option *ngFor="let rate of forexRates" [value]="rate.id">{{ rate.id }}</option>
    </select>

    <label for="amount">Amount(Rs):</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="amount" required>

    <button type="submit" id="submitButton">Submit</button>
  </form>

  <div id="result">
    Converted Amount: <span id="resValue">{{ convertedAmount | number: '1.2-2' }}</span>
  </div>
</div>
