<form (ngSubmit)="convertForex()" #converterForm="ngForm">
  <label for="fromCurrency">Source CCY:</label>
  <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency" required>
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select><br>

  <label for="toCurrency">Target CCY:</label>
  <select id="toCurrency" name="toCurrency" [(ngModel)]="toCurrency" required>
    <option value="USD">USD</option>
    <option value="GBP">GBP</option>
    <option value="INR">INR</option>
  </select><br>

  <label for="amount">Amount (Rs):</label>
  <input type="number" id="amount" name="amount" [(ngModel)]="amount" required>
  <br>

  <button type="submit" id="submitButton">submitButton</button>
  <br>
</form>

<div id="result">
  <label>Result Container: </label>
  <p>{{ convertedAmount }}</p>
</div>
