<div>
  <form #converterForm="ngForm" (ngSubmit)="convertForex()">
    <label for="fromCurrency">Source CCY:</label>
    <select id="fromCurrency" name="fromCurrency" [(ngModel)]="fromCurrency" required>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
      <option value="INR">INR</option>
    </select>

    <label for="toCurrency">Target CCY:</label>
    <select id="toCurrency" name="toCurrency" [(ngModel)]="toCurrency" required>
      <option value="USD">USD</option>
      <option value="GBP">GBP</option>
      <option value="INR">INR</option>
    </select>

    <label for="amount">Amount(Rs):</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="amount" required>

    <button type="submit" id="submitButton">Submit</button>
  </form>

  <div id="result">
    <span id="resValue">Converted Amount: {{ convertedAmount | number: '1.2-2' }}</span>
  </div>
</div>
